[project]
	description = Dilbag_repo
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dilbagmalik
[access "refs/for/refs/*"]
	read = group user/dilbagmalik
	push = group user/dilbagmalik
	label-Code-Review = -2..+2 group user/dilbagmalik
	label-Verified = -1..+1 group user/dilbagmalik
	rebase = group user/dilbagmalik
	removeReviewer = group user/dilbagmalik
	submit = group user/dilbagmalik
[access "refs/heads/*"]
	read = group user/dilbagmalik
	create = group user/dilbagmalik
	push = +force group user/dilbagmalik
	pushMerge = group user/dilbagmalik
[access "refs/tags/*"]
	push = group user/dilbagmalik
	push = +force group user/dilbagmalik
[receive]
	requireSignedOffBy = true
	requireChangeId = true
	createNewChangeForAllNotInTarget = true
	rejectImplicitMerges = true
[submit]
	mergeContent = true
